matplotlib==3.5.0
numpy==1.22.3
pandas==1.3.4
pyarrow==10.0.1
scikit_learn==1.1.3
torch==1.13.1
torchsummary==1.5.1
tqdm==4.64.0

# PyTorch
--extra-index-url https://download.pytorch.org/whl/torch_stable
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1

